 body {
    font: 14px helvetica, sans-serif;
    background: url(bg.png);
 }
 #container {
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(100, 150, 255, 0.1);
 }
 #profile {
	float: left;
	margin-right: 15px;
	margin-top: 5px;
 }
 p {
	line-height: 20px;
 }